@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel
@using Quiron.LojaVirtual.Web.HtmlHelpers

@foreach (var item in Model.Produtos)
{
   @Html.Partial("_ProdutoDetalhes", item)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))
</div>



