@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel
@using Quiron.LojaVirtual.Web.HtmlHelpers

@foreach (var item in Model.Produtos)
{
    <div>
        <h3>@item.Nome</h3>
        @item.Descricao
        <h4>@item.Preco.ToString("c")</h4>
    </div>
}

@Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x}))

